body{
    background-color: rgb(247, 134, 99);
    overflow: hidden;
}

.main{
    width: 900px;
    height: 520px;
    border-radius: 9px;
    border: 2px solid white;
    position: absolute;
    top: 40px;
    left: 200px;
}

.main2{
    width: 800px;
    height: 450px;
    border-radius: 9px;
    border: 2px solid white;
    position: absolute;
    top: 30px;
    left: 55px;
    opacity: 0.4;
    z-index: 1;
    background-color: rgb(244, 206, 290);
}

.return{
    font-size: 30px;
    border-radius: 12px;
    position: absolute;
    top: 520px;
    left: 25px;
    transform: 0.3s ease;
}

.return:hover{
    transition: translateY(-3px) translateX(3px);    
    background-color: rgb(155, 155, 235);
}