body{
    background-color: rgb(247, 134, 99);
    overflow: hidden;
}

.parent{
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.main{
    width: 900px;
    height: 520px;
    border-radius: 9px;
    border: 2px solid white;
    position: absolute;
    top: 40px;
    left: 200px;
}

.main2{
    width: 800px;
    height: 450px;
    border-radius: 9px;
    border: 2px solid white;
    position: absolute;
    top: 30px;
    left: 55px;
    opacity: 0.4;
    z-index: 1;
    background-color: rgb(244, 206, 190);
}

#icon1{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    left: 20px;
    background-image: url("fileimage.png");     
    background-size: cover;                     
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

#icon1:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s;
}

#icon2{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    left: 120px;
    top:60px;
    background-image: url("fileimage.png");     
    background-size: cover;                     
    background-position: center;
    background-repeat: no-repeat;

}

#icon2:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s;
}

#text1{
    font-size: 17px;
    position: absolute;
    top: 55px;
    left: 5px;
}

#text2{
    font-size: 17px;
    position: absolute;
    top: 55px;
    left: 2px;
}