body{
    background-color: rgb(247, 134, 99);
    overflow: hidden;
}

.parent{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.main{
    width: 900px;
    height: 520px;
    border-radius: 9px;
    border: 2px solid white;
    position: absolute;
    top: 40px;
    left: 200px;
}

.main2{
    width: 800px;
    height: 450px;
    border-radius: 9px;
    border: 2px solid white;
    position: absolute;
    top: 30px;
    left: 55px;
    opacity: 0.4;
    z-index: 1;
    background-color: rgb(244, 206, 190);
}

.icon1{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    top: 60px;
}

.icon2{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    left: 150px;
    top:60px;
}

.icon3{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    left: 300px;
    top: 60px;
}

