*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  overflow: hidden;
}

.page{
  width: 400px;
  height: 400px;
  perspective: 1200px;
}

.room{
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transform: rotateX(55deg) rotateZ(45deg);
}

.floor{
  position: absolute;
  top: -100px;
  left: 150px;
  width: 400px;
  height: 400px;
  background: rgb(174, 208, 236);
  opacity: 0.8;
  border: 2px solid black;
}

.left{
  position: absolute;
  top: -100px;
  left: 150px;
  width: 220px;
  height: 400px;
  background: rgb(174, 208, 236);
  opacity: 0.8;
  transform-origin: bottom left;
  transform: rotateY(-90deg);
  border: 2px solid black;
}

.right{
  position: absolute;
  top: -320px;
  left: 150px;
  width: 400px;
  height: 220px;
  background: rgb(174, 208, 236);
  border: 2px solid black;
  transform-origin: bottom left;
  transform: rotateX(270deg);
}

#t1{
   font-size: 45px;
   position: absolute;
   left: -400px;
   top: 25px;
   font-family: "Macondo", cursive; ;
}

#t2{
  font-size: 20px;
  position: absolute;
  left: -300px;
  top: 100px;
  font-family: "Macondo", cursive;;

}

.img1{
  height: 200px;
  width: 200px;
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 220px;
}

.img1:hover{
  transform: scale(1.2);
}

.img2{
  height: 200px;
  width: 200px;
  z-index: 100;
  position: absolute;
  top: 30px;
  left: 300px;
}