*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    perspective: 1000px;
    overflow: hidden;
    background-color: beige;
}

.maindiv{
    display: flex;
    align-items: flex-start;

}

.room{
    position: relative;
    transform-style: preserve-3d;
    perspective: 900px;
    height: 900px;
    width: 900px;
}

.room div{
    position: absolute;
    width: 800px;
    height: 400px;
    opacity: 0.8;

}

#backonly{
    transform: absolute;
    width: 448px;
    height: 220px;
    top: 340px;
    left: 370px;
    border: 2px solid black;
    transform-style: preserve-3d;
    background: rgb(232, 96, 68);
    transform: translateZ(-100px);
    
}

.leftwall{
    transform: rotateY(90deg) translateZ(90px);
    background: rgb(232, 96, 68);
    position: absolute;
    top: 250px;
    left: -210px;
    border: 2px solid black;
    transform-style: preserve-3d
}

.rightwall{
    transform: rotateY(90deg) translateZ(-280px);
    background: rgb(232, 96, 68);
    position: absolute;
    top: 250px;
    left: 910px;
    border: 2px solid black;
    transform-style: preserve-3d
}