body, html{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
    overflow: hidden;
}

.designr{
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(0deg);
    perspective: 900px;
    height: 900px;
    width: 600px;
    
}

.room{
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(0deg);
    perspective: 1000px;
    height: 900px;
    width: 600px;

}

.room div{
    position: absolute;
    width: 800px;
    height: 500px;
    background: rgb(234, 97, 84);
    opacity: 0.7;
    border: 2px solid #222;
}

.backwall{
    transform: translateZ(-400px);
    background: rgb(231, 150, 64);
    position: absolute;
    top: 50px;
    left: 400px;

}

.leftwall{
    transform: rotateY(90deg) translateZ(200px);
    background: rgb(234, 97, 84);
    position: absolute;
    top: 50px;
    left: 600px;
}

.rightwall{
    transform-origin: left center;
    transform: rotateY(90deg) translateZ(200px);
    background: rgb(234, 97, 84);
    position: absolute;
    top: 50px;
    left: 500px;
}

.floor{
    background: rgb(234, 97, 84);
    transform: rotateX(90deg) translateZ(-230px);
    position: absolute;
    top: 90px;
    left: 320px;
}

.ceiling{
    background: rgb(234, 97, 84);
    transform: rotateX(90deg) translateZ(150px);
    position: absolute;
    top: 15px;
    left: 290px;
}