html, body, *{
    cursor: url("cursor1.png") 8 2, auto;
}

body{
    background-color: beige;
    overflow: hidden;
}

.parent{
    display: flex;
}

.song1{
    border: 2px black solid;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 150px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song1:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
    
}

.song2{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 230px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song2:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song3{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 310px;
    left: 310px;  
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song3:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song4{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 390px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song4:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song5{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 470px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius:14px;
}

.song5:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song6{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 160px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song6:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song7{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 240px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song7:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song8{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 320px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song8:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song9{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song9:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song10{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 480px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song10:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

img{
    border-radius: 8px;
    position: absolute;
    top: 3px;
    left: 8px;
    border: 2px solid black;
}

.s1{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: "Fondamento", cursive;
}

.s2{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: "Fondamento", cursive;
}

.s3{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: "Fondamento", cursive;
}

.s4{
    text-align: center;
    position: absolute;
    left: 80px;
    top: -3px;
    font-family: "Fondamento", cursive;
}

.s5{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: "Fondamento", cursive;
}

.s6{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: "Fondamento", cursive;
}

.s7{
    text-align: center;
    position: absolute;
    left: 98px;
    top: -5px;
    font-family: "Fondamento", cursive;
}

.s8{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: "Fondamento", cursive;
}

.s9{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
    font-family: "Fondamento", cursive;
}

.s10{
    text-align: center;
    position: absolute;
    left: 80px;
    top: -2px;
    font-family: "Fondamento", cursive;
}

.text{
    position: absolute;
    left: 370px;
}

#heading1{
    font-size: 30px;
    text-align: center;
    font-family: "Trade Winds", system-ui;

}

#heading2{
    font-family: "Redressed", cursive;
    font-size: 20px;
}

#cd1{
    border: none;
    position: absolute;
    left:1150px;
    top: 480px;
}

#cd2{
    border:none;
    position: absolute;
    left: 10px;
    top: 20px;
}


#cd4{
    border: none;
    position: absolute;
    left: 1150px;
    top: 10px;
}

#back{
    border: none;
    position: absolute;
    top: 480px;
    height: 120px;
    width: 170px;
    left: 30px;
    transform: rotateZ(370deg);
}

#bck{
    position: absolute;
    top: 480px;
    left: 100px;
    font-size: 35px;
    background-color: rgb(187, 187, 248);
    border-radius: 8px;

}

#bck:hover{
    transform: scale(1.1);
}

a:active{
    color: rgb(10, 10, 55);
    text-decoration: none;
}
