body{
    background-color: beige;
    overflow: hidden;
}

.parent{
    display: flex;
}

.song1{
    border: 2px black solid;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
}

.song2{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
}

.song3{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 280px;
    left: 310px;  
    box-shadow: 0px 4px 4px 0px;
}

.song4{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 360px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
}

.song5{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 440px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
}

.song6{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
}

.song7{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
}

.song8{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 280px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
}

.song9{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 360px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
}

.song10{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 440px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
}

