body{
    background-color: beige;
    overflow: hidden;
}

.parent{
    display: flex;
}

.song1{
    border: 2px black solid;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song1:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
    
}

.song2{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song2:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song3{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 280px;
    left: 310px;  
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song3:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song4{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 360px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song4:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song5{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 440px;
    left: 310px;
    box-shadow: 0px 4px 4px 0px;
    border-radius:14px;
}

.song5:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song6{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song6:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song7{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song7:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song8{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 280px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song8:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song9{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 360px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song9:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.song10{
    border: 2px solid black;
    width: 280px;
    height: 60px;
    position: absolute;
    top: 440px;
    left: 630px;
    box-shadow: 0px 4px 4px 0px;
    border-radius: 14px;
}

.song10:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

img{
    border-radius: 8px;
    position: absolute;
    top: 3px;
    left: 8px;
    border: 2px solid black;
}

.s1{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s2{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s3{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s4{
    text-align: center;
    position: absolute;
    left: 80px;
    top: -3px;
}

.s5{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s6{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s7{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s8{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s9{
    text-align: center;
    position: absolute;
    left: 80px;
    top: 9px;
}

.s10{
    text-align: center;
    position: absolute;
    left: 80px;
    top: -2px;
}



