body{
    background-color: beige;
    overflow: hidden;
}

.parent{
    display: flex;
}

/*adding comments for separation, im confused lol*/

.tooltip1{
    visibility: hidden;
    background-color: white;
    border-radius: 7px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 200px;
    left: 100px;
    
}

.poster1{
    position: absolute;
    width: 200px;
    height: 250px;
    border: black 2px solid;
    top: 45px;
    left: 450px;
    cursor: pointer;
}

.poster1:hover .tooltip1{
    visibility: visible;
}


/*comment*/

.tooltip2{
    visibility: hidden;
    background-color: white;
    border-radius: 7px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 300px;
}

.poster2:hover .tooltip2{
    visibility: visible;
}

.poster2{
    position: absolute;
    width: 300px;
    height: 150px;;
    border: solid 2px black;
    top: 45px;
    left: 700px;
    cursor: pointer;
}

/*comment*/

.tooltip3{
    visibility: hidden;
    background-color: white;
    color: black;
    border-radius: 7px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 300px;

}

.poster3:hover .tooltip3{
    visibility: visible;
}


.poster3{
    position: absolute;
    width: 55px;
    height: 75px;
    border: solid 2px black;
    top: 220px;
    left: 700px;
}

/*comment*/


.tooltip4{
    visibility: hidden;
    background-color: white;
    color: black;
    border-radius: 7px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 300px;
}

.poster4:hover .tooltip4{
    visibility: visible;
}

.poster4{
    position: absolute;
    width: 55px;
    height: 75px;
    border: solid 2px black;
    top: 220px;
    left: 820px;
    cursor: pointer;
}


/*comment */

.tooltip5{
    visibility: hidden;
    background-color: white;
    color: black;
    border-radius: 7px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 200px;
}

.poster5:hover .tooltip5{
    visibility: visible;
}

.poster5{
    position: absolute;
    width: 55px;
    height: 75px;
    border: solid 2px black;
    top: 220px;
    left: 940px;
    cursor: pointer;
}

/*comment*/

.tooltip6{
    visibility: hidden;
    background-color: white;
    color: black;
    border-radius: 7px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 200px;
}

.poster6:hover .tooltip6{
    visibility: visible;
}

.poster6{
    position: absolute;
    width: 550px;
    height: 200px;
    border: solid 2px black;
    top: 330px;
    left: 450px;
    cursor: pointer;
}

/*comment*/

.sidebar{
    position: absolute;
    width: 200px;
    height: 900px;
    border: solid 2px black;
    left: -10px;
    top: -10px;
}

